// 1. Your custom variables and variable overwrites.

@import "./modules/_colors";

// 2. Import default variables and available mixins.
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.

// 4. Import UIkit.
@import "../node_modules/uikit/src/scss/uikit-theme.scss";