<div class="uk-navbar-container">
    <nav class="uk-container uk-margin-bottom" uk-navbar>
        <a class="uk-navbar-item uk-logo" href="/">
            <%= title %>
            <span class="uk-navbar-item tt-station-name">for <%= station_name %></span>
        </a>
        
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle uk-search-icon uk-icon" href="#modal-search" uk-search-icon uk-toggle="target: #searchBox"></a>
        </div>
    </nav>
</div>

