<nav class="uk-navbar-container uk-margin-bottom" uk-navbar>
        <a class="uk-navbar-item uk-logo" href="#"><%= title %></a>
    <div class="uk-navbar-right">
        <div class="uk-navbar-item">
            <form>
                <input id="search" class="uk-input uk-form-width-small" type="text" size="3" placeholder="Station Code">
                <button id="searchSubmit" class="uk-button uk-button-secondary">Check</button>
            </form>
        </div>

    </div>
</nav>
