.uk-navbar-container
    nav.uk-container.uk-margin-bottom(uk-navbar)
        a.uk-navbar-item.uk-logo(href="/")= title
            span.uk-navbar-item.tt-station-name for #{station_name}
        .uk-navbar-right
            a.uk-navbar-toggle(href="#model-search", uk-icon="icon: search" ,uk-toggle="target: #searchBox")
            