<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/css/main.min.css")
        style.
            html, body, .page-container {
                height: 100%;
            }
        title Error
    body
        .page-container.uk-background-secondary
            .uk-section
                .uk-card.uk-card-default.uk-margin-auto(class='uk-width-1-3@m')
                    .uk-card-header
                        h3.uk-card-title
                        | Station Code Invalid 
                            a.uk-link-text.uk-float-right(href='/')
                            span.uk-margin-small-right(uk-icon='icon: home')
                        .uk-card-body
                            p error
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="/js/uikit.min.js")
        script(src="/js/uikit-icons.min.js")