<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css" />
        <style>

            html, body, .page-container {
                height: 100%;
            }

        </style>
    </head>
    <body>
        <div class="page-container uk-background-secondary">
            <div class="uk-section">
                <div class="uk-card uk-card-default uk-width-1-3@m uk-margin-auto">
                    <div class="uk-card-header">
                            <h3 class="uk-card-title">Station Code Invalid <a class="uk-link-text uk-float-right" href="/"><span class="uk-margin-small-right" uk-icon="icon: home"></span></a></h3>
                    </div>
                    <div class="uk-card-body">
                        <p>
                            <%= error.charAt(0).toUpperCase() + error.slice(1); %>
                        </p>
                    </div>    
                </div>
            </div>      
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js"></script>
    </body>
</html>