// Main Colors
$slate: #333;
$black: #000;

// Train Operator Colors
$virgintrains: #c3092d;
$londonmidland: #72b42c;
$caledoniansleeper: #08292E;
$londonoverground: #EF7B10;
$northernrail: #262262;
$scotrail: #12356f;
$transpennineexpress: #00a7e7;
$greatwesternrailway: #0a493e;
